PORT=5000
MONGODB_URI=mongodb+srv://alid13381:Danish4010@cluster0.ki8stvs.mongodb.net/?appName=Cluster0
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=alid13381@gmail.com
IMAP_PASSWORD=isezhqjkwgregcop
IMAP_TLS=true
FRONTEND_URL=http://localhost:3000
